.sidebar {
    background-color: #791111;
    color: #fff;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: width 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.expanded {
    width: 230px;
}

.sidebar.minimized {
    width: 60px;
}

.toggle-menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-sidebar {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    width: 100%;
}

li a {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    width: auto;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #495057;
}

li a svg {
    margin-right: 5px;
}

li a span {
    display: inline-block;
}

.logo {
    height: 70px;
    width: auto;
    margin-bottom: 10px;
    margin-right: 30px;
}