.App {
  display: flex;
  height: 100vh;
}

.layout {
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
}

.sidebar-expanded .sidebar {
  width: 250px;
}

.sidebar-minimized .sidebar {
  width: 60px;
}

.content {
  flex-grow: 1;
  transition: all 0.3s ease;
}

.sidebar-expanded .content {
  padding: 10px;
  margin-left: 230px;
}

.sidebar-minimized .content {
  margin-left: 60px;
}