.App {
  display: flex;
  height: 100vh;
  background-color: #e2e2e2;
}

.layout {
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
}

.sidebar-expanded .sidebar {
  width: 240px;
}

.sidebar-minimized .sidebar {
  width: 70px;
}

.content {
  flex-grow: 1;
  transition: all 0.3s ease;
}

.sidebar-expanded .content {
  padding-left: 240px;
  padding-right: 10px;
}

.sidebar-minimized .content {
  padding-left: 70px;
  padding-right: 10px;
}